.header-container {
  background-color: #131212;
  height: 100px;
  display: flex;
  position: fixed;
  top: 10;
  width: 100%;
  z-index: 1;
}

.header-logo > img {
  width: 70px;
  padding: 1rem;
  margin-left: 12px;
}

.profile-logo {
position: absolute;
right: 1vh;
top: 2.5vh;
cursor: pointer;
width: 100px;
}