.App {
  text-align: center;
  color: white;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;  
}

.main-content {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
}




@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400;700&display=swap")
