.nav-container {
  background-color: #131212;
  color: #fff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}